/* mobile */
:root {
    font-size: 11px;
    --color1: white;
    --color2: #09577A;
    --color3: #1D87F2;
    --color4: #040B50;
}

header {
    height: 10px;
    margin-top: 10px;

}

body {
    background: radial-gradient(closest-side, white, #09577A);
    overflow: hidden;
    min-height: 100vh;
    margin-right: 0;
    position: relative;
}

ul {
    font-size: 0.8rem;
    padding-left: 0;
    margin: auto;
    text-align: center;
}

ul li {
    display: inline;
    text-align: center;
    margin-left: 10px;
}

#book {
    height: 200px;
    width: 160px;
    position: absolute;
    right: 5%;
    z-index: 5;
}

#lo {
    height: 400px;
    position: relative;
    overflow: hidden;
}

#logo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-direction: alternate;
    animation-duration: 5s;

}

#logo2 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 4;
}

#logo3 {
    z-index: 6;
    position: absolute;
    height: 200px;
    width: 200px;
    left: -90px;
    top: -90px;
}

h2 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
    font-family: cursive;
    font-weight: 100;
}

h2,
h3 {
    color: var(--color1);
    position: relative;
    z-index: 5;

}


/* paysage */
@media screen and (orientation: landscape) {
    header {
        height: 30px;

    }

    #presentation {
        position: absolute;
        left: 100px;
        top: 30px;
    }

    #competence {
        position: absolute;
        left: 110px;
        top: 80px;
    }

    #experience {
        position: absolute;
        right: 130px;
        top: 30px;
    }

    #formation {
        position: absolute;
        right: 130px;
        top: 80px;
    }

    h2 {
        font-size: 2.5rem;
        top: -40px;
    }

    h3 {
        display: inline;
        font-size: 2rem;
        top: -40px;
    }

    h2,
    h3 {
        display: inline;
        margin-left: 40px;
    }

    #lo {
        top: -50px;
        z-index: 6;
    }

    #book {
        height: 170px;
        bottom: 220px;
        right: 22%;
    }

    #logo2 {
        left: 100px;
    }

    ul {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 569px) and (orientation: landscape) {
    #book {
        height: 200px;
        width: 180px;
        bottom: 180px;
    }

    ul {
        font-size: 2rem;
    }

    h2 {
        font-size: 3.3rem;
    }

    h3 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 767px) and (orientation: landscape) {
    h3 {
        left: 50px;
    }

    #logo2 {
        height: 500px;
        width: 500px;
        left: 25%;
    }

}

@media screen and (min-width: 767px) and (orientation: portrait) {
    #lo {
        height: 600px;
    }

    #book {
        height: 400px;
        width: 300px;
        bottom: 100px;
    }

    #logo2 {
        top: 100px;
    }

    ul {
        font-size: 2rem;
    }

    h3 {
        right: 50px;
        text-align: right;
    }

    h2 {
        top: 70px
    }

    h2,
    h3 {
        font-size: 5rem;
    }
}

/* tablette */
@media screen and (min-width: 1023px) and (orientation: landscape) {

    #book {
        height: 400px;
        width: 300px;
        right: 200px;
    }

    #lo {
        top: 50px;
        height: 600px;
    }

    h2 {
        top: 50px;
        font-size: 5rem;
    }

    h3 {
        left: 140px;
        font-size: 4rem;
        top: 50px
    }

    ul {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1025px) and (orientation: landscape) {

    #pp {
        background: radial-gradient(closest-side, white, #09577A);
        height: 75%;
        position: absolute;
        right: 10%;
        left: 10%;
        top: 12%;
    }

    body {
        position: relative;
        height: 100%;
        background-image: linear-gradient(to right, var(--color4), var(--color4) 50%, var(--color3)50%);
    }

    h3 {
        left: 300px;
    }

    #book {
        right: 350px;
    }

    #logo3 {
        height: 80px;
        width: 80px;
        top: 0;
        left: 5px;
    }

    #logo2 {
        height: 380px;
        width: 380px;
        left: 400px;
        top: 10px;
    }

    #logo1:hover {
        animation-play-state: paused;
    }

    @-webkit-keyframes rotating {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    .rotating {
        -webkit-animation: rotating 10s linear infinite;
    }

}