/* mobile */

header {
    height: 100px;
    margin: 10px;

}

body {
    background: radial-gradient(closest-side, white, #1D87F2);
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
    position: relative;
    font-family: 'roto', cursive;
}

.navbar {
    display: flex;
    justify-content: space-between;
}


.icon {
    fill: white;
    cursor: pointer;

}

.navbar input,
.nav-menu,
.dropdown {
    display: none;
}

[id^=btn]:checked+ul {
    display: inline-flex;
    padding-left: 0;
}

.nav-menu {
    background: white;
    align-items: center;
}

.nav-item a,
.drop-item a,
.show {
    color: rgb(242, 28, 28);
    line-height: 90px;
    font-size: 0.8rem;
    text-shadow: 1px 50 1px black 50%;

}

.nav-menu a:hover,
.show:hover,
.icon:hover {
    color: maroon;

}


.soleil {
    position: absolute;
    border-radius: 50%;
    animation-name: animSun;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(1, .01, 0, 1);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: none;

}

@keyframes animSun {
    0% {
        bottom: 10%;
        left: -28%;
    }

    50% {
        bottom: 82%;
        left: 20%;

    }

    100% {
        bottom: 10%;
        left: 70%;

    }
}

.navbar ul {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 55px;
    justify-content: center;
    z-index: 25;

}

ul li {
    text-align: center;
    margin-left: 7px;
    list-style: none;

}

a {
    text-decoration: none;

}

img {
    vertical-align: middle;
}

#lo {
    height: 500px;
    position: relative;
    overflow: hidden;
}

#logo1 {

    display: block;

    animation-direction: alternate;
    animation-duration: 5s;
}

#logo2 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 0px;
    left: -50px;
    z-index: 24;

}

#flipBook {
    left: 0;
    bottom: 0;
    top: 50px;
    z-index: 25;
}

h1 {
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 1rem;


}

#philippe {
    width: 70%;
    position: absolute;
    font-size: 0.7rem;
    top: 10px;
    right: 20%;
}

#phil {
    width: 40%;
    position: absolute;
    font-size: 1.1rem;
    top: 30px;
    right: 20px;
}


h2 {
    top: 10px;
    font-size: 2.3rem;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 5px 5px 2px black;


}

h3 {
    top: 30px;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 5px 5px 2px black;

}

h2,
h3 {
    color: white;
    position: relative;
    z-index: 5;
    text-align: center;
}

.feuilles {

    display: flex;

}

.feuille {

    flex-direction: row;

}

#feuille1 h1 {
    top: 15%;
    left: 2%;
    font-size: 1.7rem;

}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: absolute;
    display: block;
    width: 40px;
    height: 20px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
    bottom: 20px;
    right: 10px;
    z-index: 30;
}

input[type="checkbox"]:checked~.check {
    background: #fff;
}

.check:before {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked~.check:before {
    transform: translateX(-50px);
}

.check:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);

}

input[type="checkbox"]:checked~.check:after {
    transform: translateX(0px);
}


#projectContainer {
    background-color: #333;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 21;

}

#starSuperContainer {
    width: 100vw;
    height: 70vh;
    position: relative;
}

#starContainer {
    width: 100%;
    height: 100%;
}

#starFade {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(transparent, #333);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, #333);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, #333);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, #333);
    /* Standard syntax */
    position: absolute;
    top: 0;
}

.star {
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
}

.fireworkContainer {
    /*width:20px;
                  height:20px;*/
    margin-top: -4px;
    margin-bottom: -4px;
    position: absolute;
    display: inline-block;
    -o-transition: all 1s linear, opacity 2s linear;
    -moz-transition: all 1s linear, opacity 2s linear;
    -webkit-transition: all 1s linear, opacity 2s linear;
    -ms-transition: all 1s linear, opacity 2s linear;
    transition: all 1s linear, opacity 2s linear;
    bottom: 0;
    border-radius: 50%;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
    /*-webkit-box-shadow: 0 8px 6px -6px red;
                  -moz-box-shadow: 0 8px 6px -6px red;
                  box-shadow: 0 8px 6px -6px red;*/
}

.fireworkContainer * {
    -o-transition: all .8s linear, opacity .1s linear;
    -moz-transition: all .8s linear, opacity .1s linear;
    -webkit-transition: all .8s linear, opacity .1s linear;
    -ms-transition: all .8s linear, opacity .1s linear;
    transition: all .8s linear, opaciyt .1s linear;
    position: absolute;
    width: 0;
    height: 0;
    -o-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
}

#fireworksContainer {
    position: fixed;
    bottom: -100px;
    display: table;
    left: 10px;
}

* {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.light {
    border-radius: 50%;
    opacity: .4;
    -webkit-filter: blur(40px);
    -o-filter: blur(40px);
    -moz-filter: blur(40px);
    -ms-filter: blur(40px);
    filter: blur(add=0, direction=300, strength=10);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* paysage */
@media screen and (orientation: landscape) {
    @keyframes animSun {
        0% {
            bottom: 10%;
            left: -40%;
        }

        25% {
            bottom: 60%;
            left: -10%;
        }

        50% {
            bottom: 78%;
            left: 32%;
        }

        75% {
            bottom: 70%;
            left: 70%;
        }

        100% {
            bottom: 10%;
            left: 120%;

        }
    }

    header {
        height: 30px;

    }

    .navbar ul {
        width: 75%;
        height: 50px;
        margin-left: 80px;
        top: -30px;
        padding-right: 5px;
    }

    .nav-menu {
        margin-top: 40px;



    }


    label {
        top: 43%;
    }

    #projectContainer {
        z-index: 23;
    }

    #presentation {
        position: absolute;
        left: 100px;
        top: 30px;
    }

    #competence {
        position: absolute;
        left: 110px;
        top: 80px;
    }

    #formation {
        position: absolute;
        right: 130px;
        top: 30px;
    }

    #experience {
        position: absolute;
        right: 130px;
        top: 80px;
    }

    h1 {
        left: 10px;
        font-size: 0.9rem;
    }

    h2 {
        font-size: 2rem;
        top: 40px;
    }

    h3 {
        font-size: 1.8rem;
        top: 40px;
    }

    h2,
    h3 {
        display: inline;
        margin-left: 30px;
        z-index: 30;

    }

    #lo {
        top: -50px;
        z-index: 25;
    }

    #flipBook {

        width: 48% !important;
        left: 50%;
        transform: translateX(-50%);
        top: 95px;

    }

    .feuilles {
        margin-top: 0;
        width: 85% !important;
        margin-left: 7%;

    }

    #philippe {
        width: 70%;
        top: 20px;
        right: 20px;
        font-size: 0.5rem;
    }

    #phil {
        width: 35%;
        top: 20px;
        right: 70px;
        font-size: 1.6rem;
    }


    #feuille1 h1 {
        top: 30%;
        left: 12%;
        font-size: 2.2rem;
    }

    #logo2 {
        width: 300px;
        height: 300px;
        left: 150px;
        top: 50px;
    }

    ul li {
        margin-left: 30px;
        list-style: none;
        margin-right: 15px;
    }

}

@media screen and (min-width: 374px) and (orientation: portrait) {
    @keyframes animSun {
        0% {
            bottom: 10%;
            left: -30%;
        }

        50% {
            bottom: 82%;
            left: 27%;

        }

        100% {
            bottom: 10%;
            left: 70%;

        }
    }

    #flipBook {
        top: 80px;
    }

    label {
        bottom: 100px;
    }

    h1 {
        top: 80px;
        left: 10px;
        font-size: 1.3rem;
    }

    #philippe {
        font-size: 0.8rem;
    }

    #phil {
        font-size: 1.2rem;
    }

    #feuille1 h1 {
        left: 20px;
        top: 100px;
    }

    .nav-item a,
    .drop-item a,
    .show {
        font-size: 1.6rem;
        margin-left: 5px;

    }

}

@media screen and (min-width: 569px) and (orientation: landscape) {
    @keyframes animSun {
        0% {
            bottom: 10%;
            left: -30%;
        }

        25% {
            bottom: 60%;
            left: 0%;
        }

        50% {
            bottom: 80%;
            left: 36%;
        }

        75% {
            bottom: 70%;
            left: 70%;
        }

        100% {
            bottom: 10%;
            left: 100%;

        }
    }


    #philippe {
        font-size: 0.6rem;
    }

    #phil {
        right: 70px;
        font-size: 2rem;
    }

    ul {
        font-size: 2rem;
    }

    #feuille1 h1 {
        font-size: 2.5rem;
        left: 90px;
    }

    h1 {
        left: 15px;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {

        font-size: 2rem;
    }

    h2 h3 {
        margin-left: 100px;
    }

    .nav-item a {
        font-size: 1rem;
    }
}

@media screen and (min-width: 767px) and (orientation: landscape) {
    @keyframes animSun {
        0% {
            bottom: -20%;
            left: -30%;
        }

        25% {
            bottom: 60%;
            left: 0%;
        }

        50% {
            bottom: 80%;
            left: 40%;
        }

        75% {
            bottom: 70%;
            left: 70%;
        }

        100% {
            bottom: 10%;
            left: 100%;

        }
    }

    h1 {
        left: 20px;
    }

    h3 {
        left: 50px;
    }

    #logo2 {
        height: 500px;
        width: 500px;
        left: 20%;
    }

    #flipBook {
        width: 42% !important;
    }

    #philippe {
        font-size: 1.1rem;
    }

    #phil {
        width: 30%;
        font-size: 2rem;
        right: 140px;
    }

    .feuilles {
        margin-left: 15%;
        width: 70% !important;
    }

    #feuille1 h1 {
        left: 150px;
    }

}

@media screen and (min-width: 767px) and (orientation: portrait) {
    @keyframes animSun {
        0% {
            bottom: 10%;
            left: -15%;
        }

        50% {
            bottom: 82%;
            left: 30%;

        }

        100% {
            bottom: 10%;
            left: 80%;

        }
    }

    #soleil {
        width: 300px;
    }

    #lo {
        height: 800px;
    }

    .check {
        bottom: 20px
    }

    #logo2 {
        height: 600px;
        width: 600px;
        left: 10%;
        top: 10px;
    }

    .nav-item a,
    .drop-item a,
    .show {
        font-size: 1.8rem;
        align-content: center;

    }

    ul li {
        margin-left: auto;
    }

    ul {
        font-size: 2.3rem;

    }

    h1 {
        font-size: 2.2rem;
        left: 20px;
        top: 30%;
    
    }

    h3 {
        top: 70px;
        text-align: center;
    }

    h2 {
        top: 70px
    }

    h2,
    h3 {
        font-size: 5rem;
    }

    #flipBook {
        width: 90% !important;
        top: 55px;
        left: 40px;
    }

    #philippe {
        text-align: left;
        font-size: 1.4rem;
    }

    .feuilles {
        margin-top: 40%;
    }

    #feuille1 h1 {
        font-size: 4rem;
    }

    #phil {
        font-size: 2rem;
    }
}

/* tablette */

@media screen and (min-width: 1024px) and (orientation: landscape) {
    @keyframes animSun {
        0% {
            bottom: -40%;
            left: -30%;
        }

        25% {
            bottom: 60%;
            left: 0%;
        }

        50% {
            bottom: 80%;
            left: 30%;
        }

        75% {
            bottom: 70%;
            left: 70%;
        }

        100% {
            bottom: -40%;
            left: 90%;

        }
    }

    #soleil {
        width: 300px;
    }

    .nav-item a {

        font-size: 1.8rem;
    }

    .navbar ul {
        width: 80%;
        margin-left: 100px;
    }

    /* #pp {
        background:   white, #1D87F2;
        height: 75%;
        position: absolute;
        right: 10%;
        left: 10%;
        top: 12%;
    }
 */
    body {
        position: relative;
        height: 100%;
        background-image: linear-gradient white, #1D87F2;
    }

    #flipBook {
        width: 55% !important;
        top: 90px;
        left: 500px;
    }

    .feuilles {
        width: 100% !important;
        margin-top: 35px;
    }

    #philippe {
        font-size: 1.6rem;
        left: 40px;
    }

    #feuille1 h1 {
        font-size: 5rem;
        left: 40px;
    }

    #phil {
        top: 100px;
        font-size: 3rem;
    }


    #logo2 {
        height: 400px;
        width: 400px;
        left: 150px;
        top: 28px;
    }

    h1 {
        top: 25%;
        font-size: 2.5rem;
        left: 15px;
    }

    h2,
    h3 {

        right: 20px;
        font-size: 3.6rem;
    }

    label {
        top: 550px;
    }

    #logo1:hover {
        animation-play-state: paused;
    }

    @-webkit-keyframes rotating {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    .rotating {
        -webkit-animation: rotating 10s linear infinite;
    }

}

@media screen and (min-width: 1023px) and (orientation: portrait) {

    #lo {
        top: 120px;
        height: 800px;
    }

    h2 {
        top: 0;
        font-size: 5rem;
    }

    h3 {
        left: 140px;
        font-size: 3rem;
        top: 0
    }

    ul {
        font-size: 3rem;
    }
}


@media screen and (min-width: 1300px) and (orientation: landscape) {
    @keyframes animSun {
        0% {
            bottom: -40%;
            left: -20%;
        }

        25% {
            bottom: 50%;
            left: 0%;
        }

        50% {
            bottom: 80%;
            left: 35%;
        }

        75% {
            bottom: 50%;
            left: 80%;
        }

        100% {
            bottom: -40%;
            left: 95%;

        }
    }

    #logo2 {
        height: 400px;
        width: 400px;
        left: 400px;
        top: 100px;
    }

    #lo {
        height: 1000px;
    }

    #flipBook {
        width: 40% !important;
        top: 150px;
        left: 650px;
    }

    h1 {
        font-size: 2.2rem;
        left: 20px;
        top: 100px;

    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 4.5rem;
    }

    ul {
        font-size: 3rem;
    }

    #philippe {
        top: 40px;
        font-size: 1.4rem;
    }

    .feuilles {

        width: 200% !important;
    }

    #feuille1 h1 {
        left: 22%;
    }

    #phil {
        top: 50px;
        right: 19%;
        font-size: 2rem;
    }

    label {
        top: 460px;
    }
}

@media screen and (min-width: 1900px) and (orientation: landscape) {

    @keyframes animSun {
        0% {
            bottom: -40%;
            left: -20%;
        }

        25% {
            bottom: 50%;
            left: 0%;
        }

        50% {
            bottom: 80%;
            left: 35%;
        }

        75% {
            bottom: 50%;
            left: 80%;
        }

        100% {
            bottom: -40%;
            left: 95%;

        }
    }

    #soleil {
        width: 500px;
    }

    label {
        top: 690px;
    }

    #flipBook {
        width: 45% !important;
        top: 200px;
    }

    h2,
    h3 {
        font-size: 7rem;
    }

    #logo2 {
        height: 600px;
        width: 600px;
        left: 450px;
        top: 200px;
    }

    #philippe {
        font-size: 2.4rem;

    }

    h1 {
        font-size: 3.5rem;
        left: 8%;
        top: 150px;
    }

    .navbar ul {
        width: 90%;
        height: 100px;
    }

    .nav-item a {
        font-size: 3rem;
        padding-left: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .icon {

        display: none;

    }

    .nav-menu {
        display: initial;
        position: static;
    }

    .nav-item {
        display: inline-block;
        margin-left: 20px;
        position: relative;
    }

    .dropdown {
        position: absolute;
        background-color: black;
        top: 70px;
        right: 0;
        padding-right: 40px;
        width: max-content;
    }

}